div(class="ui grid")
	
	div(class="column")
		- if(success)
			div(class="ui success message")
				<i class="close icon"></i>
				p #{success}
		- if(error)
			div(class="ui error message")
				<i class="close icon"></i>
				p #{error}
