div.ui.grid
	div.five.wide.column
	div.six.wide.column
		- if(success)
			div.ui.success.message
				<i class="close icon"></i>
				p #{success}
		- if(error)
			div.ui.error.message
				<i class="close icon"></i>
				p #{error}
