
extends ./layout.pug
block content

	div(class="ui grid centered")
		
		div(class="column wide-set")
			form(class="ui form segment",method="post",enctype="multipart/form-data")
				div.field
					div.ui.left.icon.input
						i.user.icon
						input(placeholder="用户名",type="text",name="name")
				div.field
					div.ui.left.icon.input
						i.lock.icon
						input(placeholder="密码",type="password",name="password")
				div.field
					div.ui.left.icon.input
						i.lock.icon
						input(placeholder="重复密码",type="password",name="repassword")
				div.field.required
					
					select(class="ui selection dropdown" name="gender")
						option(value='') 性别
						option(value="m") 男
						option(value="f") 女
						option(value="x") 保密
				div.field.required
					label 头像
					input(type="file" name="avatar")
				div.field.required
					label 个人简介
					textarea(name="bio", rows="5",v-model="user.bio")
				input(type="submit",class="ui buttom fluid" value="注册")
